--
-- PostgreSQL database dump
--

\restrict BKaW7XHmTeh0lEcka5Ay63gOrCD9A8AyS8it4Qtbf9lG0gZlSglEeEVaZz0yoSM

-- Dumped from database version 16.11
-- Dumped by pg_dump version 16.11

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

ALTER TABLE IF EXISTS ONLY public.simpatizantes DROP CONSTRAINT IF EXISTS simpatizantes_pk_seccion_fkey;
ALTER TABLE IF EXISTS ONLY public.sentimiento_social DROP CONSTRAINT IF EXISTS sentimiento_social_pk_seccion_fkey;
ALTER TABLE IF EXISTS ONLY public.sentimiento_social DROP CONSTRAINT IF EXISTS sentimiento_social_id_fuente_fkey;
ALTER TABLE IF EXISTS ONLY public.sentimiento_social DROP CONSTRAINT IF EXISTS sentimiento_social_id_categoria_fkey;
ALTER TABLE IF EXISTS ONLY public.seccion DROP CONSTRAINT IF EXISTS seccion_id_municipio_fkey;
ALTER TABLE IF EXISTS ONLY public.resultados_partido DROP CONSTRAINT IF EXISTS resultados_partido_pk_resultado_fkey;
ALTER TABLE IF EXISTS ONLY public.resultados_partido DROP CONSTRAINT IF EXISTS resultados_partido_id_partido_fkey;
ALTER TABLE IF EXISTS ONLY public.resultados_electorales DROP CONSTRAINT IF EXISTS resultados_electorales_pk_casilla_fkey;
ALTER TABLE IF EXISTS ONLY public.padron_ine DROP CONSTRAINT IF EXISTS padron_ine_pk_seccion_fkey;
ALTER TABLE IF EXISTS ONLY public.municipio_geometria DROP CONSTRAINT IF EXISTS municipio_geometria_id_municipio_fkey;
ALTER TABLE IF EXISTS ONLY public.logs_gps DROP CONSTRAINT IF EXISTS logs_gps_pk_seccion_fkey;
ALTER TABLE IF EXISTS ONLY public.evidencias DROP CONSTRAINT IF EXISTS evidencias_pk_seccion_fkey;
ALTER TABLE IF EXISTS ONLY public.denuncias_ciudadanas DROP CONSTRAINT IF EXISTS denuncias_ciudadanas_pk_seccion_fkey;
ALTER TABLE IF EXISTS ONLY public.denuncias_ciudadanas DROP CONSTRAINT IF EXISTS denuncias_ciudadanas_id_categoria_fkey;
ALTER TABLE IF EXISTS ONLY public.demandas_sociales DROP CONSTRAINT IF EXISTS demandas_sociales_pk_seccion_fkey;
ALTER TABLE IF EXISTS ONLY public.casilla DROP CONSTRAINT IF EXISTS casilla_pk_seccion_fkey;
ALTER TABLE IF EXISTS ONLY public.casilla DROP CONSTRAINT IF EXISTS casilla_id_eleccion_fkey;
ALTER TABLE IF EXISTS ONLY public.carencias_inegi DROP CONSTRAINT IF EXISTS carencias_inegi_pk_seccion_fkey;
DROP TRIGGER IF EXISTS trg_check_integridad ON public.resultados_electorales;
DROP INDEX IF EXISTS public.idx_sentimiento_seccion;
DROP INDEX IF EXISTS public.idx_sentimiento_fuente;
DROP INDEX IF EXISTS public.idx_sentimiento_fecha;
DROP INDEX IF EXISTS public.idx_sentimiento_categoria;
DROP INDEX IF EXISTS public.idx_seccion_numero;
DROP INDEX IF EXISTS public.idx_seccion_geom;
DROP INDEX IF EXISTS public.idx_resultado_partido_resultado;
DROP INDEX IF EXISTS public.idx_resultado_partido_partido;
DROP INDEX IF EXISTS public.idx_resultado_casilla;
DROP INDEX IF EXISTS public.idx_resultado_calidad;
DROP INDEX IF EXISTS public.idx_padron_anio;
DROP INDEX IF EXISTS public.idx_denuncias_seccion;
DROP INDEX IF EXISTS public.idx_denuncias_estatus;
DROP INDEX IF EXISTS public.idx_demandas_seccion;
DROP INDEX IF EXISTS public.idx_demandas_estado;
DROP INDEX IF EXISTS public.idx_casilla_seccion;
DROP INDEX IF EXISTS public.idx_casilla_eleccion;
DROP INDEX IF EXISTS public.idx_carencias_anio;
ALTER TABLE IF EXISTS ONLY public.usuarios_tenant DROP CONSTRAINT IF EXISTS usuarios_tenant_pkey;
ALTER TABLE IF EXISTS ONLY public.simpatizantes DROP CONSTRAINT IF EXISTS simpatizantes_pkey;
ALTER TABLE IF EXISTS ONLY public.sentimiento_social DROP CONSTRAINT IF EXISTS sentimiento_social_pkey;
ALTER TABLE IF EXISTS ONLY public.seccion DROP CONSTRAINT IF EXISTS seccion_pkey;
ALTER TABLE IF EXISTS ONLY public.seccion DROP CONSTRAINT IF EXISTS seccion_id_municipio_seccion_key;
ALTER TABLE IF EXISTS ONLY public.resultados_partido DROP CONSTRAINT IF EXISTS resultados_partido_pkey;
ALTER TABLE IF EXISTS ONLY public.resultados_partido DROP CONSTRAINT IF EXISTS resultados_partido_pk_resultado_id_partido_key;
ALTER TABLE IF EXISTS ONLY public.resultados_electorales DROP CONSTRAINT IF EXISTS resultados_electorales_pkey;
ALTER TABLE IF EXISTS ONLY public.partido DROP CONSTRAINT IF EXISTS partido_pkey;
ALTER TABLE IF EXISTS ONLY public.partido DROP CONSTRAINT IF EXISTS partido_clave_partido_key;
ALTER TABLE IF EXISTS ONLY public.padron_ine DROP CONSTRAINT IF EXISTS padron_ine_pkey;
ALTER TABLE IF EXISTS ONLY public.municipio DROP CONSTRAINT IF EXISTS municipio_pkey;
ALTER TABLE IF EXISTS ONLY public.municipio_geometria DROP CONSTRAINT IF EXISTS municipio_geometria_pkey;
ALTER TABLE IF EXISTS ONLY public.metodologia_indicador DROP CONSTRAINT IF EXISTS metodologia_indicador_pkey;
ALTER TABLE IF EXISTS ONLY public.logs_gps DROP CONSTRAINT IF EXISTS logs_gps_pkey;
ALTER TABLE IF EXISTS ONLY public.log_inconsistencias DROP CONSTRAINT IF EXISTS log_inconsistencias_pkey;
ALTER TABLE IF EXISTS ONLY public.invitaciones DROP CONSTRAINT IF EXISTS invitaciones_pkey;
ALTER TABLE IF EXISTS ONLY public.fuente_sentimiento DROP CONSTRAINT IF EXISTS fuente_sentimiento_pkey;
ALTER TABLE IF EXISTS ONLY public.fuente_sentimiento DROP CONSTRAINT IF EXISTS fuente_sentimiento_nombre_fuente_key;
ALTER TABLE IF EXISTS ONLY public.fuente_datos DROP CONSTRAINT IF EXISTS fuente_datos_pkey;
ALTER TABLE IF EXISTS ONLY public.evidencias DROP CONSTRAINT IF EXISTS evidencias_pkey;
ALTER TABLE IF EXISTS ONLY public.eleccion DROP CONSTRAINT IF EXISTS eleccion_pkey;
ALTER TABLE IF EXISTS ONLY public.eleccion DROP CONSTRAINT IF EXISTS eleccion_anio_ambito_key;
ALTER TABLE IF EXISTS ONLY public.denuncias_ciudadanas DROP CONSTRAINT IF EXISTS denuncias_ciudadanas_pkey;
ALTER TABLE IF EXISTS ONLY public.demandas_sociales DROP CONSTRAINT IF EXISTS demandas_sociales_pkey;
ALTER TABLE IF EXISTS ONLY public.categoria_servicio DROP CONSTRAINT IF EXISTS categoria_servicio_pkey;
ALTER TABLE IF EXISTS ONLY public.categoria_servicio DROP CONSTRAINT IF EXISTS categoria_servicio_nombre_categoria_key;
ALTER TABLE IF EXISTS ONLY public.casilla DROP CONSTRAINT IF EXISTS casilla_pkey;
ALTER TABLE IF EXISTS ONLY public.casilla DROP CONSTRAINT IF EXISTS casilla_pk_seccion_id_eleccion_clave_casilla_key;
ALTER TABLE IF EXISTS ONLY public.carencias_inegi DROP CONSTRAINT IF EXISTS carencias_inegi_pkey;
ALTER TABLE IF EXISTS public.simpatizantes ALTER COLUMN pk_simpatizante DROP DEFAULT;
ALTER TABLE IF EXISTS public.sentimiento_social ALTER COLUMN pk_sentimiento DROP DEFAULT;
ALTER TABLE IF EXISTS public.seccion ALTER COLUMN pk_seccion DROP DEFAULT;
ALTER TABLE IF EXISTS public.resultados_partido ALTER COLUMN pk_resultado_partido DROP DEFAULT;
ALTER TABLE IF EXISTS public.resultados_electorales ALTER COLUMN pk_resultado DROP DEFAULT;
ALTER TABLE IF EXISTS public.partido ALTER COLUMN id_partido DROP DEFAULT;
ALTER TABLE IF EXISTS public.metodologia_indicador ALTER COLUMN id_metodologia DROP DEFAULT;
ALTER TABLE IF EXISTS public.logs_gps ALTER COLUMN pk_log DROP DEFAULT;
ALTER TABLE IF EXISTS public.log_inconsistencias ALTER COLUMN id_inconsistencia DROP DEFAULT;
ALTER TABLE IF EXISTS public.fuente_sentimiento ALTER COLUMN id_fuente DROP DEFAULT;
ALTER TABLE IF EXISTS public.fuente_datos ALTER COLUMN id_fuente DROP DEFAULT;
ALTER TABLE IF EXISTS public.evidencias ALTER COLUMN pk_evidencia DROP DEFAULT;
ALTER TABLE IF EXISTS public.eleccion ALTER COLUMN id_eleccion DROP DEFAULT;
ALTER TABLE IF EXISTS public.denuncias_ciudadanas ALTER COLUMN pk_denuncia DROP DEFAULT;
ALTER TABLE IF EXISTS public.demandas_sociales ALTER COLUMN pk_demanda DROP DEFAULT;
ALTER TABLE IF EXISTS public.categoria_servicio ALTER COLUMN id_categoria DROP DEFAULT;
ALTER TABLE IF EXISTS public.casilla ALTER COLUMN pk_casilla DROP DEFAULT;
DROP VIEW IF EXISTS public.vw_satisfaccion_por_servicio;
DROP VIEW IF EXISTS public.vw_riesgo_electoral;
DROP VIEW IF EXISTS public.vw_rezago_secciones;
DROP VIEW IF EXISTS public.vw_indice_satisfaccion_seccion;
DROP VIEW IF EXISTS public.vw_confianza_institucional;
DROP VIEW IF EXISTS public.vw_comparacion_lista_nominal;
DROP VIEW IF EXISTS public.vw_calidad_datos;
DROP VIEW IF EXISTS public.vw_brecha_servicios;
DROP VIEW IF EXISTS public.vw_participacion_seccion_anio;
DROP TABLE IF EXISTS public.usuarios_tenant;
DROP SEQUENCE IF EXISTS public.simpatizantes_pk_simpatizante_seq;
DROP TABLE IF EXISTS public.simpatizantes;
DROP SEQUENCE IF EXISTS public.sentimiento_social_pk_sentimiento_seq;
DROP TABLE IF EXISTS public.sentimiento_social;
DROP SEQUENCE IF EXISTS public.seccion_pk_seccion_seq;
DROP TABLE IF EXISTS public.seccion;
DROP SEQUENCE IF EXISTS public.resultados_partido_pk_resultado_partido_seq;
DROP TABLE IF EXISTS public.resultados_partido;
DROP SEQUENCE IF EXISTS public.resultados_electorales_pk_resultado_seq;
DROP TABLE IF EXISTS public.resultados_electorales;
DROP SEQUENCE IF EXISTS public.partido_id_partido_seq;
DROP TABLE IF EXISTS public.partido;
DROP TABLE IF EXISTS public.padron_ine;
DROP TABLE IF EXISTS public.municipio_geometria;
DROP TABLE IF EXISTS public.municipio;
DROP SEQUENCE IF EXISTS public.metodologia_indicador_id_metodologia_seq;
DROP TABLE IF EXISTS public.metodologia_indicador;
DROP SEQUENCE IF EXISTS public.logs_gps_pk_log_seq;
DROP TABLE IF EXISTS public.logs_gps;
DROP SEQUENCE IF EXISTS public.log_inconsistencias_id_inconsistencia_seq;
DROP TABLE IF EXISTS public.log_inconsistencias;
DROP TABLE IF EXISTS public.invitaciones;
DROP SEQUENCE IF EXISTS public.fuente_sentimiento_id_fuente_seq;
DROP TABLE IF EXISTS public.fuente_sentimiento;
DROP SEQUENCE IF EXISTS public.fuente_datos_id_fuente_seq;
DROP TABLE IF EXISTS public.fuente_datos;
DROP SEQUENCE IF EXISTS public.evidencias_pk_evidencia_seq;
DROP TABLE IF EXISTS public.evidencias;
DROP SEQUENCE IF EXISTS public.eleccion_id_eleccion_seq;
DROP TABLE IF EXISTS public.eleccion;
DROP SEQUENCE IF EXISTS public.denuncias_ciudadanas_pk_denuncia_seq;
DROP TABLE IF EXISTS public.denuncias_ciudadanas;
DROP SEQUENCE IF EXISTS public.demandas_sociales_pk_demanda_seq;
DROP TABLE IF EXISTS public.demandas_sociales;
DROP SEQUENCE IF EXISTS public.categoria_servicio_id_categoria_seq;
DROP TABLE IF EXISTS public.categoria_servicio;
DROP SEQUENCE IF EXISTS public.casilla_pk_casilla_seq;
DROP TABLE IF EXISTS public.casilla;
DROP TABLE IF EXISTS public.carencias_inegi;
DROP FUNCTION IF EXISTS public.insertar_sentimiento_batch(p_secciones integer[], p_fuente character varying, p_categoria character varying, p_calificacion integer, p_polaridad numeric);
DROP FUNCTION IF EXISTS public.fn_log_inconsistencias();
DROP EXTENSION IF EXISTS postgis;
--
-- Name: postgis; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS postgis WITH SCHEMA public;


--
-- Name: EXTENSION postgis; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION postgis IS 'PostGIS geometry and geography spatial types and functions';


--
-- Name: fn_log_inconsistencias(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.fn_log_inconsistencias() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
DECLARE
    v_seccion INTEGER;
    v_anio SMALLINT;
BEGIN
    -- Obtener seccion y anio electoral
    SELECT s.seccion, e.anio 
    INTO v_seccion, v_anio
    FROM casilla c
    JOIN seccion s ON s.pk_seccion = c.pk_seccion
    JOIN eleccion e ON e.id_eleccion = c.id_eleccion
    WHERE c.pk_casilla = NEW.pk_casilla;

    -- Regla 1: Votos totales > Lista nominal del acta
    IF NEW.total_votos > NEW.lista_nominal_acta THEN
        INSERT INTO log_inconsistencias (
            tabla_afectada, 
            pk_registro, 
            campo, 
            valor_actual, 
            valor_esperado, 
            descripcion, 
            seccion, 
            anio, 
            flag_calidad, 
            estado
        ) VALUES (
            'resultados_electorales',
            NEW.pk_resultado,
            'total_votos',
            NEW.total_votos::text,
            NEW.lista_nominal_acta::text,
            'Votos emitidos superan la lista nominal del acta',
            v_seccion,
            v_anio,
            'EXCEDE_LISTA',
            'PENDIENTE'
        );
    END IF;

    -- Regla 2: Votos nulos anormalmente altos (> 10% de votos validos)
    IF NEW.num_votos_nulos > NEW.num_votos_validos * 0.1 THEN
        INSERT INTO log_inconsistencias (
            tabla_afectada, 
            pk_registro, 
            campo, 
            valor_actual, 
            valor_esperado, 
            descripcion, 
            seccion, 
            anio, 
            flag_calidad, 
            estado
        ) VALUES (
            'resultados_electorales',
            NEW.pk_resultado,
            'num_votos_nulos',
            NEW.num_votos_nulos::text,
            (NEW.num_votos_validos * 0.1)::text,
            'Votos nulos exceden el 10% de votos validos',
            v_seccion,
            v_anio,
            'NULOS_EXCESIVOS',
            'PENDIENTE'
        );
    END IF;

    RETURN NEW;
END;
$$;


ALTER FUNCTION public.fn_log_inconsistencias() OWNER TO postgres;

--
-- Name: insertar_sentimiento_batch(integer[], character varying, character varying, integer, numeric); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.insertar_sentimiento_batch(p_secciones integer[], p_fuente character varying, p_categoria character varying, p_calificacion integer, p_polaridad numeric) RETURNS integer
    LANGUAGE plpgsql
    AS $$

DECLARE

    v_id_fuente INTEGER;

    v_id_categoria INTEGER;

    v_count INTEGER := 0;

    v_seccion INTEGER;

BEGIN

    -- Obtener IDs de cat├â┬ílogos

    SELECT id_fuente INTO v_id_fuente 

    FROM fuente_sentimiento 

    WHERE nombre_fuente = p_fuente;

    

    SELECT id_categoria INTO v_id_categoria 

    FROM categoria_servicio 

    WHERE nombre_categoria = p_categoria;

    

    IF v_id_fuente IS NULL OR v_id_categoria IS NULL THEN

        RAISE EXCEPTION 'Fuente o categor├â┬¡a no encontrada';

    END IF;

    

    -- Insertar para cada secci├â┬│n

    FOREACH v_seccion IN ARRAY p_secciones

    LOOP

        INSERT INTO sentimiento_social (

            pk_seccion, id_fuente, id_categoria, 

            calificacion, sentimiento_polaridad, validado

        )

        SELECT 

            pk_seccion, v_id_fuente, v_id_categoria,

            p_calificacion, p_polaridad, TRUE

        FROM seccion

        WHERE seccion = v_seccion AND id_municipio = 56;

        

        v_count := v_count + 1;

    END LOOP;

    

    RETURN v_count;

END;

$$;


ALTER FUNCTION public.insertar_sentimiento_batch(p_secciones integer[], p_fuente character varying, p_categoria character varying, p_calificacion integer, p_polaridad numeric) OWNER TO postgres;

--
-- Name: FUNCTION insertar_sentimiento_batch(p_secciones integer[], p_fuente character varying, p_categoria character varying, p_calificacion integer, p_polaridad numeric); Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON FUNCTION public.insertar_sentimiento_batch(p_secciones integer[], p_fuente character varying, p_categoria character varying, p_calificacion integer, p_polaridad numeric) IS 'Inserta sentimiento para m├â┬║ltiples secciones simult├â┬íneamente';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: carencias_inegi; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.carencias_inegi (
    pk_seccion integer NOT NULL,
    anio_inegi smallint NOT NULL,
    pobtot integer NOT NULL,
    grado_prom_escolar numeric(5,2) NOT NULL,
    pob_sin_derechohab integer NOT NULL,
    pob_con_derechohab integer NOT NULL,
    pct_sin_derechohab numeric(5,2),
    pea integer NOT NULL,
    pe_inactiva integer NOT NULL,
    pob_ocupada integer NOT NULL,
    pob_desocupada integer NOT NULL,
    num_viviendas_particulares integer NOT NULL,
    promedio_ocupantes numeric(4,2) NOT NULL,
    vph_autom integer NOT NULL,
    vph_pc integer NOT NULL,
    vph_cel integer NOT NULL,
    vph_internet integer NOT NULL,
    vph_sin_agua integer,
    vph_sin_drenaje integer,
    vph_sin_electricidad integer,
    vph_piso_tierra integer,
    fuente character varying(50) NOT NULL,
    fecha_carga timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.carencias_inegi OWNER TO postgres;

--
-- Name: TABLE carencias_inegi; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.carencias_inegi IS 'Indicadores socioeconomicos INEGI por seccion (Censo 2020)';


--
-- Name: COLUMN carencias_inegi.pct_sin_derechohab; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.carencias_inegi.pct_sin_derechohab IS 'Porcentaje de poblacion sin derechohabiencia a servicios de salud';


--
-- Name: casilla; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.casilla (
    pk_casilla integer NOT NULL,
    pk_seccion integer NOT NULL,
    id_eleccion integer NOT NULL,
    clave_casilla character varying(10) NOT NULL,
    tipo_casilla character varying(20)
);


ALTER TABLE public.casilla OWNER TO postgres;

--
-- Name: TABLE casilla; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.casilla IS 'Casillas instaladas por seccion y eleccion';


--
-- Name: COLUMN casilla.tipo_casilla; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.casilla.tipo_casilla IS 'BASICA, CONTIGUA, ESPECIAL, EXTRAORDINARIA';


--
-- Name: casilla_pk_casilla_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.casilla_pk_casilla_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.casilla_pk_casilla_seq OWNER TO postgres;

--
-- Name: casilla_pk_casilla_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.casilla_pk_casilla_seq OWNED BY public.casilla.pk_casilla;


--
-- Name: categoria_servicio; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.categoria_servicio (
    id_categoria integer NOT NULL,
    nombre_categoria character varying(100) NOT NULL,
    pilar_gobierno character varying(50),
    prioridad_estrategica smallint DEFAULT 3,
    CONSTRAINT chk_prioridad CHECK (((prioridad_estrategica >= 1) AND (prioridad_estrategica <= 5)))
);


ALTER TABLE public.categoria_servicio OWNER TO postgres;

--
-- Name: categoria_servicio_id_categoria_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.categoria_servicio_id_categoria_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.categoria_servicio_id_categoria_seq OWNER TO postgres;

--
-- Name: categoria_servicio_id_categoria_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.categoria_servicio_id_categoria_seq OWNED BY public.categoria_servicio.id_categoria;


--
-- Name: demandas_sociales; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.demandas_sociales (
    pk_demanda integer NOT NULL,
    pk_seccion integer NOT NULL,
    fecha_registro timestamp without time zone DEFAULT now(),
    tipo_demanda character varying(50) NOT NULL,
    sentimiento character varying(10) NOT NULL,
    prioridad_ods integer NOT NULL,
    calificacion_ciudadana smallint,
    folio_evidencia character varying(50),
    url_evidencia text,
    capturado_por character varying(100) NOT NULL,
    latitud numeric(10,8),
    longitud numeric(11,8),
    fecha_compromiso_resolucion date,
    fecha_atencion_real date,
    estado character varying(20) DEFAULT 'PENDIENTE'::character varying,
    CONSTRAINT demandas_sociales_calificacion_ciudadana_check CHECK (((calificacion_ciudadana >= 1) AND (calificacion_ciudadana <= 5))),
    CONSTRAINT demandas_sociales_estado_check CHECK (((estado)::text = ANY ((ARRAY['PENDIENTE'::character varying, 'PROCESO'::character varying, 'RESUELTO'::character varying, 'CANCELADO'::character varying])::text[]))),
    CONSTRAINT demandas_sociales_prioridad_ods_check CHECK (((prioridad_ods >= 1) AND (prioridad_ods <= 5))),
    CONSTRAINT demandas_sociales_sentimiento_check CHECK (((sentimiento)::text = ANY ((ARRAY['POSITIVO'::character varying, 'NEUTRAL'::character varying, 'NEGATIVO'::character varying])::text[])))
);


ALTER TABLE public.demandas_sociales OWNER TO postgres;

--
-- Name: demandas_sociales_pk_demanda_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.demandas_sociales_pk_demanda_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.demandas_sociales_pk_demanda_seq OWNER TO postgres;

--
-- Name: demandas_sociales_pk_demanda_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.demandas_sociales_pk_demanda_seq OWNED BY public.demandas_sociales.pk_demanda;


--
-- Name: denuncias_ciudadanas; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.denuncias_ciudadanas (
    pk_denuncia integer NOT NULL,
    pk_seccion integer NOT NULL,
    id_categoria integer NOT NULL,
    fecha_denuncia timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    canal_reporte character varying(50),
    descripcion text,
    estatus character varying(30) DEFAULT 'PENDIENTE'::character varying,
    fecha_resolucion timestamp without time zone,
    tiempo_resolucion_dias integer,
    CONSTRAINT chk_estatus CHECK (((estatus)::text = ANY ((ARRAY['PENDIENTE'::character varying, 'EN_PROCESO'::character varying, 'RESUELTO'::character varying, 'CERRADO'::character varying])::text[])))
);


ALTER TABLE public.denuncias_ciudadanas OWNER TO postgres;

--
-- Name: denuncias_ciudadanas_pk_denuncia_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.denuncias_ciudadanas_pk_denuncia_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.denuncias_ciudadanas_pk_denuncia_seq OWNER TO postgres;

--
-- Name: denuncias_ciudadanas_pk_denuncia_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.denuncias_ciudadanas_pk_denuncia_seq OWNED BY public.denuncias_ciudadanas.pk_denuncia;


--
-- Name: eleccion; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.eleccion (
    id_eleccion integer NOT NULL,
    anio smallint NOT NULL,
    ambito character varying(30) NOT NULL,
    descripcion character varying(150) NOT NULL
);


ALTER TABLE public.eleccion OWNER TO postgres;

--
-- Name: TABLE eleccion; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.eleccion IS 'Catalogo de procesos electorales';


--
-- Name: eleccion_id_eleccion_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.eleccion_id_eleccion_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.eleccion_id_eleccion_seq OWNER TO postgres;

--
-- Name: eleccion_id_eleccion_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.eleccion_id_eleccion_seq OWNED BY public.eleccion.id_eleccion;


--
-- Name: evidencias; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.evidencias (
    pk_evidencia integer NOT NULL,
    pk_seccion integer,
    ruta_archivo character varying(500) NOT NULL,
    comentario text,
    fecha_registro timestamp without time zone DEFAULT now()
);


ALTER TABLE public.evidencias OWNER TO postgres;

--
-- Name: evidencias_pk_evidencia_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.evidencias_pk_evidencia_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.evidencias_pk_evidencia_seq OWNER TO postgres;

--
-- Name: evidencias_pk_evidencia_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.evidencias_pk_evidencia_seq OWNED BY public.evidencias.pk_evidencia;


--
-- Name: fuente_datos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.fuente_datos (
    id_fuente integer NOT NULL,
    nombre_fuente character varying(100) NOT NULL,
    institucion character varying(100) NOT NULL,
    periodicidad character varying(50),
    url_oficial text,
    fecha_corte date,
    notas text
);


ALTER TABLE public.fuente_datos OWNER TO postgres;

--
-- Name: fuente_datos_id_fuente_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.fuente_datos_id_fuente_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.fuente_datos_id_fuente_seq OWNER TO postgres;

--
-- Name: fuente_datos_id_fuente_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.fuente_datos_id_fuente_seq OWNED BY public.fuente_datos.id_fuente;


--
-- Name: fuente_sentimiento; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.fuente_sentimiento (
    id_fuente integer NOT NULL,
    nombre_fuente character varying(50) NOT NULL,
    descripcion text,
    peso_confiabilidad numeric(3,2) DEFAULT 1.00,
    CONSTRAINT chk_peso CHECK (((peso_confiabilidad >= (0)::numeric) AND (peso_confiabilidad <= (1)::numeric)))
);


ALTER TABLE public.fuente_sentimiento OWNER TO postgres;

--
-- Name: fuente_sentimiento_id_fuente_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.fuente_sentimiento_id_fuente_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.fuente_sentimiento_id_fuente_seq OWNER TO postgres;

--
-- Name: fuente_sentimiento_id_fuente_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.fuente_sentimiento_id_fuente_seq OWNED BY public.fuente_sentimiento.id_fuente;


--
-- Name: invitaciones; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.invitaciones (
    token uuid DEFAULT gen_random_uuid() NOT NULL,
    email text NOT NULL,
    tenant_id text NOT NULL,
    fecha_expiracion timestamp without time zone NOT NULL,
    usada boolean DEFAULT false,
    fecha_creacion timestamp without time zone DEFAULT now()
);


ALTER TABLE public.invitaciones OWNER TO postgres;

--
-- Name: log_inconsistencias; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.log_inconsistencias (
    id_inconsistencia integer NOT NULL,
    tabla_afectada character varying(50) NOT NULL,
    pk_registro integer NOT NULL,
    campo character varying(50),
    valor_actual text,
    valor_esperado text,
    descripcion text,
    seccion integer,
    anio smallint,
    flag_calidad character varying(30),
    estado character varying(20) DEFAULT 'PENDIENTE'::character varying,
    justificacion text,
    fecha_registro timestamp without time zone DEFAULT now(),
    fecha_justificacion timestamp without time zone
);


ALTER TABLE public.log_inconsistencias OWNER TO postgres;

--
-- Name: log_inconsistencias_id_inconsistencia_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.log_inconsistencias_id_inconsistencia_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.log_inconsistencias_id_inconsistencia_seq OWNER TO postgres;

--
-- Name: log_inconsistencias_id_inconsistencia_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.log_inconsistencias_id_inconsistencia_seq OWNED BY public.log_inconsistencias.id_inconsistencia;


--
-- Name: logs_gps; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.logs_gps (
    pk_log integer NOT NULL,
    pk_seccion integer,
    latitud numeric(10,8) NOT NULL,
    longitud numeric(11,8) NOT NULL,
    fecha_registro timestamp without time zone DEFAULT now()
);


ALTER TABLE public.logs_gps OWNER TO postgres;

--
-- Name: logs_gps_pk_log_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.logs_gps_pk_log_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.logs_gps_pk_log_seq OWNER TO postgres;

--
-- Name: logs_gps_pk_log_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.logs_gps_pk_log_seq OWNED BY public.logs_gps.pk_log;


--
-- Name: metodologia_indicador; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.metodologia_indicador (
    id_metodologia integer NOT NULL,
    nombre_indicador character varying(100) NOT NULL,
    descripcion text NOT NULL,
    formula text NOT NULL,
    peso_ponderacion numeric(5,2),
    umbral_min numeric(5,2),
    umbral_max numeric(5,2),
    interpretacion text,
    fecha_publicacion date NOT NULL,
    version character varying(20) NOT NULL,
    activo boolean DEFAULT true
);


ALTER TABLE public.metodologia_indicador OWNER TO postgres;

--
-- Name: metodologia_indicador_id_metodologia_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.metodologia_indicador_id_metodologia_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.metodologia_indicador_id_metodologia_seq OWNER TO postgres;

--
-- Name: metodologia_indicador_id_metodologia_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.metodologia_indicador_id_metodologia_seq OWNED BY public.metodologia_indicador.id_metodologia;


--
-- Name: municipio; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.municipio (
    id_municipio smallint NOT NULL,
    nombre_municipio character varying(100) NOT NULL,
    poblacion_total integer,
    coef_gini_ref numeric(5,3)
);


ALTER TABLE public.municipio OWNER TO postgres;

--
-- Name: TABLE municipio; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.municipio IS 'Catalogo de municipios con indicadores de referencia';


--
-- Name: municipio_geometria; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.municipio_geometria (
    id_municipio smallint NOT NULL,
    geom public.geometry(MultiPolygon,4326),
    area_km2 numeric(10,2)
);


ALTER TABLE public.municipio_geometria OWNER TO postgres;

--
-- Name: padron_ine; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.padron_ine (
    pk_seccion integer NOT NULL,
    lista_hombres integer NOT NULL,
    lista_mujeres integer NOT NULL,
    lista_nominal_oficial integer NOT NULL,
    anio_padron smallint NOT NULL,
    fuente character varying(50) NOT NULL,
    fecha_carga timestamp without time zone DEFAULT now() NOT NULL,
    CONSTRAINT chk_lista_nominal_consistente CHECK ((lista_nominal_oficial = (lista_hombres + lista_mujeres)))
);


ALTER TABLE public.padron_ine OWNER TO postgres;

--
-- Name: TABLE padron_ine; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.padron_ine IS 'Lista nominal oficial del INE por seccion';


--
-- Name: partido; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.partido (
    id_partido integer NOT NULL,
    clave_partido character varying(20) NOT NULL,
    nombre_largo character varying(150) NOT NULL,
    es_coalicion boolean DEFAULT false NOT NULL,
    anio_inicio smallint,
    anio_fin smallint
);


ALTER TABLE public.partido OWNER TO postgres;

--
-- Name: TABLE partido; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.partido IS 'Catalogo de partidos y coaliciones (historico)';


--
-- Name: partido_id_partido_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.partido_id_partido_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.partido_id_partido_seq OWNER TO postgres;

--
-- Name: partido_id_partido_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.partido_id_partido_seq OWNED BY public.partido.id_partido;


--
-- Name: resultados_electorales; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.resultados_electorales (
    pk_resultado integer NOT NULL,
    pk_casilla integer NOT NULL,
    num_votos_validos integer NOT NULL,
    num_votos_cannreg integer NOT NULL,
    num_votos_nulos integer NOT NULL,
    total_votos integer NOT NULL,
    lista_nominal_acta integer NOT NULL,
    flag_calidad character varying(30) DEFAULT 'VALIDO'::character varying NOT NULL,
    observaciones_calidad text,
    fuente character varying(50) NOT NULL,
    fecha_carga timestamp without time zone DEFAULT now() NOT NULL,
    CONSTRAINT chk_calidad CHECK (((flag_calidad)::text = ANY ((ARRAY['VALIDO'::character varying, 'TOTAL_INCORRECTO'::character varying, 'EXCEDE_LISTA'::character varying, 'CASILLA_ESPECIAL'::character varying, 'CASILLA_ESPECIAL_CORREGIDA'::character varying])::text[]))),
    CONSTRAINT chk_votos_positivos CHECK (((num_votos_validos >= 0) AND (num_votos_cannreg >= 0) AND (num_votos_nulos >= 0) AND (total_votos >= 0) AND (lista_nominal_acta >= 0)))
);


ALTER TABLE public.resultados_electorales OWNER TO postgres;

--
-- Name: TABLE resultados_electorales; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.resultados_electorales IS 'Totales de votacion por casilla con control de calidad';


--
-- Name: COLUMN resultados_electorales.flag_calidad; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.resultados_electorales.flag_calidad IS 'VALIDO: sin problemas | EXCEDE_LISTA: total mayor lista nominal | CASILLA_ESPECIAL: casilla B/C/E corregida';


--
-- Name: resultados_electorales_pk_resultado_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.resultados_electorales_pk_resultado_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.resultados_electorales_pk_resultado_seq OWNER TO postgres;

--
-- Name: resultados_electorales_pk_resultado_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.resultados_electorales_pk_resultado_seq OWNED BY public.resultados_electorales.pk_resultado;


--
-- Name: resultados_partido; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.resultados_partido (
    pk_resultado_partido integer NOT NULL,
    pk_resultado integer NOT NULL,
    id_partido integer NOT NULL,
    votos integer NOT NULL,
    CONSTRAINT chk_votos_partido_positivos CHECK ((votos >= 0))
);


ALTER TABLE public.resultados_partido OWNER TO postgres;

--
-- Name: TABLE resultados_partido; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.resultados_partido IS 'Detalle de votacion por partido/coalicion';


--
-- Name: resultados_partido_pk_resultado_partido_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.resultados_partido_pk_resultado_partido_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.resultados_partido_pk_resultado_partido_seq OWNER TO postgres;

--
-- Name: resultados_partido_pk_resultado_partido_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.resultados_partido_pk_resultado_partido_seq OWNED BY public.resultados_partido.pk_resultado_partido;


--
-- Name: seccion; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.seccion (
    pk_seccion integer NOT NULL,
    id_municipio smallint NOT NULL,
    seccion integer NOT NULL,
    distrito_local smallint,
    distrito_federal smallint,
    tiene_datos_electorales boolean DEFAULT true NOT NULL,
    observaciones text,
    geom public.geometry(MultiPolygon,4326)
);


ALTER TABLE public.seccion OWNER TO postgres;

--
-- Name: TABLE seccion; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.seccion IS 'Catalogo geografico de secciones electorales';


--
-- Name: COLUMN seccion.tiene_datos_electorales; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.seccion.tiene_datos_electorales IS 'FALSE si la seccion existe en INEGI pero no tiene casillas instaladas';


--
-- Name: COLUMN seccion.geom; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.seccion.geom IS 'Geometr├â┬¡a (pol├â┬¡gono) de la secci├â┬│n electoral en WGS84 (EPSG:4326)';


--
-- Name: seccion_pk_seccion_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.seccion_pk_seccion_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.seccion_pk_seccion_seq OWNER TO postgres;

--
-- Name: seccion_pk_seccion_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.seccion_pk_seccion_seq OWNED BY public.seccion.pk_seccion;


--
-- Name: sentimiento_social; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sentimiento_social (
    pk_sentimiento integer NOT NULL,
    pk_seccion integer NOT NULL,
    id_fuente integer NOT NULL,
    id_categoria integer NOT NULL,
    fecha_registro timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    calificacion smallint NOT NULL,
    sentimiento_polaridad numeric(3,2) NOT NULL,
    comentario text,
    respondente_genero character(1),
    respondente_edad_rango character varying(20),
    capturado_por character varying(100),
    validado boolean DEFAULT false,
    CONSTRAINT chk_calificacion CHECK (((calificacion >= 1) AND (calificacion <= 5))),
    CONSTRAINT chk_genero CHECK ((respondente_genero = ANY (ARRAY['M'::bpchar, 'F'::bpchar, 'O'::bpchar, NULL::bpchar]))),
    CONSTRAINT chk_polaridad CHECK (((sentimiento_polaridad >= ('-1'::integer)::numeric) AND (sentimiento_polaridad <= (1)::numeric)))
);


ALTER TABLE public.sentimiento_social OWNER TO postgres;

--
-- Name: sentimiento_social_pk_sentimiento_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.sentimiento_social_pk_sentimiento_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.sentimiento_social_pk_sentimiento_seq OWNER TO postgres;

--
-- Name: sentimiento_social_pk_sentimiento_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.sentimiento_social_pk_sentimiento_seq OWNED BY public.sentimiento_social.pk_sentimiento;


--
-- Name: simpatizantes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.simpatizantes (
    pk_simpatizante integer NOT NULL,
    pk_seccion integer,
    nombre character varying(200) NOT NULL,
    contacto character varying(100) NOT NULL,
    es_mujer boolean NOT NULL,
    notas text,
    fecha_registro timestamp without time zone DEFAULT now()
);


ALTER TABLE public.simpatizantes OWNER TO postgres;

--
-- Name: simpatizantes_pk_simpatizante_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.simpatizantes_pk_simpatizante_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.simpatizantes_pk_simpatizante_seq OWNER TO postgres;

--
-- Name: simpatizantes_pk_simpatizante_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.simpatizantes_pk_simpatizante_seq OWNED BY public.simpatizantes.pk_simpatizante;


--
-- Name: usuarios_tenant; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.usuarios_tenant (
    email text NOT NULL,
    tenant_id text NOT NULL,
    fecha_expiracion timestamp without time zone,
    rol text DEFAULT 'lectura'::text
);


ALTER TABLE public.usuarios_tenant OWNER TO postgres;

--
-- Name: vw_participacion_seccion_anio; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.vw_participacion_seccion_anio AS
 SELECT s.pk_seccion,
    s.seccion,
    e.anio,
    e.ambito,
    sum(re.total_votos) AS total_votos_seccion,
    pi.lista_nominal_oficial,
        CASE
            WHEN (pi.lista_nominal_oficial > 0) THEN round((((sum(re.total_votos))::numeric * 100.0) / (pi.lista_nominal_oficial)::numeric), 2)
            ELSE NULL::numeric
        END AS participacion_real_pct,
    count(c.pk_casilla) AS num_casillas_instaladas
   FROM ((((public.seccion s
     JOIN public.casilla c ON ((c.pk_seccion = s.pk_seccion)))
     JOIN public.eleccion e ON ((e.id_eleccion = c.id_eleccion)))
     JOIN public.resultados_electorales re ON ((re.pk_casilla = c.pk_casilla)))
     LEFT JOIN public.padron_ine pi ON (((pi.pk_seccion = s.pk_seccion) AND (pi.anio_padron = e.anio))))
  GROUP BY s.pk_seccion, s.seccion, e.anio, e.ambito, pi.lista_nominal_oficial;


ALTER VIEW public.vw_participacion_seccion_anio OWNER TO postgres;

--
-- Name: VIEW vw_participacion_seccion_anio; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON VIEW public.vw_participacion_seccion_anio IS 'Participacion electoral real por seccion y anio';


--
-- Name: vw_brecha_servicios; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.vw_brecha_servicios AS
 WITH base AS (
         SELECT vpsa.pk_seccion,
            vpsa.seccion,
            vpsa.anio,
            vpsa.participacion_real_pct,
            ci.anio_inegi,
            ci.pobtot,
            ci.pct_sin_derechohab,
            ci.grado_prom_escolar,
            ci.vph_internet,
            ci.vph_cel,
            ci.vph_pc,
            ci.vph_autom,
            ci.promedio_ocupantes,
            ci.vph_sin_agua,
            ci.vph_sin_drenaje,
            ci.vph_sin_electricidad,
            ci.vph_piso_tierra
           FROM (public.vw_participacion_seccion_anio vpsa
             JOIN public.carencias_inegi ci ON ((ci.pk_seccion = vpsa.pk_seccion)))
        )
 SELECT pk_seccion,
    seccion,
    anio,
    participacion_real_pct,
    anio_inegi,
    pobtot,
    pct_sin_derechohab,
    grado_prom_escolar,
    vph_internet,
    vph_cel,
    vph_pc,
    vph_autom,
    promedio_ocupantes,
    vph_sin_agua,
    vph_sin_drenaje,
    vph_sin_electricidad,
    vph_piso_tierra,
        CASE
            WHEN (pobtot > 0) THEN round((((((vph_internet)::numeric + (vph_pc)::numeric) + (vph_cel)::numeric) * 100.0) / ((pobtot * 3))::numeric), 2)
            ELSE NULL::numeric
        END AS indice_tic,
        CASE
            WHEN (participacion_real_pct >= (70)::numeric) THEN 'ALTA'::text
            WHEN (participacion_real_pct >= (50)::numeric) THEN 'MEDIA'::text
            WHEN (participacion_real_pct >= (30)::numeric) THEN 'BAJA'::text
            ELSE 'MUY_BAJA'::text
        END AS clasificacion_participacion
   FROM base;


ALTER VIEW public.vw_brecha_servicios OWNER TO postgres;

--
-- Name: VIEW vw_brecha_servicios; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON VIEW public.vw_brecha_servicios IS 'Cruce de participacion electoral con indicadores de servicios y desarrollo';


--
-- Name: vw_calidad_datos; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.vw_calidad_datos AS
 SELECT e.anio,
    e.ambito,
    re.flag_calidad,
    count(*) AS num_casillas,
    sum(re.total_votos) AS total_votos,
    round(avg(re.total_votos), 2) AS promedio_votos_casilla,
    count(DISTINCT c.pk_seccion) AS num_secciones
   FROM ((public.eleccion e
     JOIN public.casilla c ON ((c.id_eleccion = e.id_eleccion)))
     JOIN public.resultados_electorales re ON ((re.pk_casilla = c.pk_casilla)))
  GROUP BY e.anio, e.ambito, re.flag_calidad
  ORDER BY e.anio, re.flag_calidad;


ALTER VIEW public.vw_calidad_datos OWNER TO postgres;

--
-- Name: VIEW vw_calidad_datos; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON VIEW public.vw_calidad_datos IS 'Estadisticas de calidad de datos por anio electoral';


--
-- Name: vw_comparacion_lista_nominal; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.vw_comparacion_lista_nominal AS
 SELECT s.seccion,
    e.anio,
    sum(re.lista_nominal_acta) AS ln_suma_actas,
    pi.lista_nominal_oficial AS ln_padron_oficial,
    (sum(re.lista_nominal_acta) - pi.lista_nominal_oficial) AS diferencia,
        CASE
            WHEN (pi.lista_nominal_oficial > 0) THEN round(((((sum(re.lista_nominal_acta) - pi.lista_nominal_oficial))::numeric * 100.0) / (pi.lista_nominal_oficial)::numeric), 2)
            ELSE NULL::numeric
        END AS pct_diferencia
   FROM ((((public.seccion s
     JOIN public.casilla c ON ((c.pk_seccion = s.pk_seccion)))
     JOIN public.eleccion e ON ((e.id_eleccion = c.id_eleccion)))
     JOIN public.resultados_electorales re ON ((re.pk_casilla = c.pk_casilla)))
     LEFT JOIN public.padron_ine pi ON (((pi.pk_seccion = s.pk_seccion) AND (pi.anio_padron = e.anio))))
  GROUP BY s.seccion, e.anio, pi.lista_nominal_oficial
 HAVING ((sum(re.lista_nominal_acta) - pi.lista_nominal_oficial) <> 0);


ALTER VIEW public.vw_comparacion_lista_nominal OWNER TO postgres;

--
-- Name: VIEW vw_comparacion_lista_nominal; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON VIEW public.vw_comparacion_lista_nominal IS 'Discrepancias entre lista nominal de actas y padron oficial INE';


--
-- Name: vw_confianza_institucional; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.vw_confianza_institucional AS
 WITH denuncias_resueltas AS (
         SELECT denuncias_ciudadanas.pk_seccion,
            count(*) AS total_denuncias,
            sum(
                CASE
                    WHEN ((denuncias_ciudadanas.estatus)::text = 'RESUELTO'::text) THEN 1
                    ELSE 0
                END) AS denuncias_resueltas,
            avg(denuncias_ciudadanas.tiempo_resolucion_dias) AS tiempo_promedio_resolucion
           FROM public.denuncias_ciudadanas
          WHERE (denuncias_ciudadanas.fecha_denuncia >= (CURRENT_DATE - '1 year'::interval))
          GROUP BY denuncias_ciudadanas.pk_seccion
        )
 SELECT s.seccion,
    s.pk_seccion,
    COALESCE(dr.total_denuncias, (0)::bigint) AS total_denuncias_12m,
    COALESCE(dr.denuncias_resueltas, (0)::bigint) AS denuncias_resueltas_12m,
    round((((COALESCE(dr.denuncias_resueltas, (0)::bigint))::numeric * (100)::numeric) / (NULLIF(dr.total_denuncias, 0))::numeric), 1) AS tasa_resolucion_pct,
    round(COALESCE(dr.tiempo_promedio_resolucion, (0)::numeric), 1) AS dias_promedio_resolucion,
    round((((((COALESCE(dr.denuncias_resueltas, (0)::bigint))::numeric * (100)::numeric) / (NULLIF(dr.total_denuncias, 1))::numeric) * 0.7) + ((
        CASE
            WHEN (COALESCE(dr.tiempo_promedio_resolucion, (0)::numeric) <= (7)::numeric) THEN 100
            WHEN (COALESCE(dr.tiempo_promedio_resolucion, (0)::numeric) <= (15)::numeric) THEN 75
            WHEN (COALESCE(dr.tiempo_promedio_resolucion, (0)::numeric) <= (30)::numeric) THEN 50
            ELSE 25
        END)::numeric * 0.3)), 1) AS indice_confianza_institucional,
        CASE
            WHEN (round((((((COALESCE(dr.denuncias_resueltas, (0)::bigint))::numeric * (100)::numeric) / (NULLIF(dr.total_denuncias, 1))::numeric) * 0.7) + ((
            CASE
                WHEN (COALESCE(dr.tiempo_promedio_resolucion, (0)::numeric) <= (7)::numeric) THEN 100
                WHEN (COALESCE(dr.tiempo_promedio_resolucion, (0)::numeric) <= (15)::numeric) THEN 75
                WHEN (COALESCE(dr.tiempo_promedio_resolucion, (0)::numeric) <= (30)::numeric) THEN 50
                ELSE 25
            END)::numeric * 0.3)), 1) >= (80)::numeric) THEN 'Alta confianza'::text
            WHEN (round((((((COALESCE(dr.denuncias_resueltas, (0)::bigint))::numeric * (100)::numeric) / (NULLIF(dr.total_denuncias, 1))::numeric) * 0.7) + ((
            CASE
                WHEN (COALESCE(dr.tiempo_promedio_resolucion, (0)::numeric) <= (7)::numeric) THEN 100
                WHEN (COALESCE(dr.tiempo_promedio_resolucion, (0)::numeric) <= (15)::numeric) THEN 75
                WHEN (COALESCE(dr.tiempo_promedio_resolucion, (0)::numeric) <= (30)::numeric) THEN 50
                ELSE 25
            END)::numeric * 0.3)), 1) >= (60)::numeric) THEN 'Confianza media'::text
            ELSE 'Baja confianza'::text
        END AS nivel_confianza
   FROM (public.seccion s
     LEFT JOIN denuncias_resueltas dr ON ((dr.pk_seccion = s.pk_seccion)))
  WHERE (s.id_municipio = 56)
  ORDER BY (round((((((COALESCE(dr.denuncias_resueltas, (0)::bigint))::numeric * (100)::numeric) / (NULLIF(dr.total_denuncias, 1))::numeric) * 0.7) + ((
        CASE
            WHEN (COALESCE(dr.tiempo_promedio_resolucion, (0)::numeric) <= (7)::numeric) THEN 100
            WHEN (COALESCE(dr.tiempo_promedio_resolucion, (0)::numeric) <= (15)::numeric) THEN 75
            WHEN (COALESCE(dr.tiempo_promedio_resolucion, (0)::numeric) <= (30)::numeric) THEN 50
            ELSE 25
        END)::numeric * 0.3)), 1));


ALTER VIEW public.vw_confianza_institucional OWNER TO postgres;

--
-- Name: vw_indice_satisfaccion_seccion; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.vw_indice_satisfaccion_seccion AS
 WITH opiniones AS (
         SELECT ss.pk_seccion,
            count(*) AS total_opiniones,
            avg(ss.calificacion) AS calificacion_promedio,
            avg(ss.sentimiento_polaridad) AS sentimiento_promedio,
            round(((((avg(ss.calificacion) * (20)::numeric) * 0.4) + (((avg(ss.sentimiento_polaridad) + (1)::numeric) * (50)::numeric) * 0.3)) + ((
                CASE
                    WHEN (count(*) >= 10) THEN 100
                    WHEN (count(*) >= 5) THEN 80
                    WHEN (count(*) >= 2) THEN 60
                    ELSE 40
                END)::numeric * 0.3)), 0) AS indice_satisfaccion_ciudadana
           FROM public.sentimiento_social ss
          WHERE ((ss.validado = true) OR (ss.validado IS NULL))
          GROUP BY ss.pk_seccion
        )
 SELECT s.pk_seccion,
    s.seccion,
    COALESCE(op.total_opiniones, (0)::bigint) AS total_opiniones,
    COALESCE(op.calificacion_promedio, (0)::numeric) AS calificacion_promedio,
    COALESCE(op.sentimiento_promedio, (0)::numeric) AS sentimiento_promedio,
    COALESCE(op.indice_satisfaccion_ciudadana, (50)::numeric) AS indice_satisfaccion_ciudadana
   FROM (public.seccion s
     LEFT JOIN opiniones op ON ((op.pk_seccion = s.pk_seccion)))
  WHERE (s.id_municipio = 56);


ALTER VIEW public.vw_indice_satisfaccion_seccion OWNER TO postgres;

--
-- Name: vw_rezago_secciones; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.vw_rezago_secciones AS
 SELECT ci.pk_seccion,
    s.seccion,
    ci.pobtot,
    ci.pct_sin_derechohab,
    ci.grado_prom_escolar,
    ci.num_viviendas_particulares,
    round(((COALESCE((ci.vph_sin_agua)::numeric, (0)::numeric) * 100.0) / (NULLIF(ci.num_viviendas_particulares, 0))::numeric), 2) AS pct_sin_agua,
    round(((COALESCE((ci.vph_sin_drenaje)::numeric, (0)::numeric) * 100.0) / (NULLIF(ci.num_viviendas_particulares, 0))::numeric), 2) AS pct_sin_drenaje,
    round(((COALESCE((ci.vph_sin_electricidad)::numeric, (0)::numeric) * 100.0) / (NULLIF(ci.num_viviendas_particulares, 0))::numeric), 2) AS pct_sin_electricidad,
    round((((COALESCE(ci.pct_sin_derechohab, (0)::numeric) + COALESCE((((ci.vph_sin_agua)::numeric * 100.0) / (NULLIF(ci.num_viviendas_particulares, 0))::numeric), (0)::numeric)) + COALESCE((((ci.vph_sin_drenaje)::numeric * 100.0) / (NULLIF(ci.num_viviendas_particulares, 0))::numeric), (0)::numeric)) / 3.0), 2) AS pct_sin_servicios_basicos
   FROM (public.carencias_inegi ci
     JOIN public.seccion s ON ((s.pk_seccion = ci.pk_seccion)))
  WHERE ((ci.anio_inegi = ( SELECT max(carencias_inegi.anio_inegi) AS max
           FROM public.carencias_inegi)) AND (s.id_municipio = 56));


ALTER VIEW public.vw_rezago_secciones OWNER TO postgres;

--
-- Name: vw_riesgo_electoral; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.vw_riesgo_electoral AS
 WITH ganadores_2024 AS (
         SELECT DISTINCT ON (s_1.pk_seccion) s_1.pk_seccion,
            s_1.seccion,
            p.clave_partido AS ganador_2024,
            sum(rp.votos) AS votos_ganador,
            round((((sum(rp.votos))::numeric * 100.0) / (NULLIF(pi.lista_nominal_oficial, 0))::numeric), 2) AS pct_votos,
            pi.lista_nominal_oficial
           FROM (((((public.seccion s_1
             JOIN public.casilla c ON (((c.pk_seccion = s_1.pk_seccion) AND (c.id_eleccion = 3))))
             JOIN public.resultados_electorales re ON ((re.pk_casilla = c.pk_casilla)))
             JOIN public.resultados_partido rp ON ((rp.pk_resultado = re.pk_resultado)))
             JOIN public.partido p ON ((p.id_partido = rp.id_partido)))
             JOIN public.padron_ine pi ON (((pi.pk_seccion = s_1.pk_seccion) AND (pi.anio_padron = 2024))))
          WHERE (s_1.id_municipio = 56)
          GROUP BY s_1.pk_seccion, s_1.seccion, p.clave_partido, pi.lista_nominal_oficial
          ORDER BY s_1.pk_seccion, (sum(rp.votos)) DESC
        ), satisfaccion AS (
         SELECT vw_indice_satisfaccion_seccion.pk_seccion,
            vw_indice_satisfaccion_seccion.indice_satisfaccion_ciudadana,
            vw_indice_satisfaccion_seccion.total_opiniones
           FROM public.vw_indice_satisfaccion_seccion
        )
 SELECT g.seccion,
    g.ganador_2024,
    g.votos_ganador,
    g.lista_nominal_oficial,
    g.pct_votos,
    COALESCE(s.indice_satisfaccion_ciudadana, (50)::numeric) AS indice_satisfaccion,
    COALESCE(s.total_opiniones, (0)::bigint) AS num_opiniones,
        CASE
            WHEN (COALESCE(s.indice_satisfaccion_ciudadana, (50)::numeric) < (40)::numeric) THEN 'ALTO RIESGO'::text
            WHEN ((COALESCE(s.indice_satisfaccion_ciudadana, (50)::numeric) >= (40)::numeric) AND (COALESCE(s.indice_satisfaccion_ciudadana, (50)::numeric) <= (59)::numeric)) THEN 'RIESGO MEDIO'::text
            ELSE 'BAJO RIESGO'::text
        END AS nivel_riesgo_electoral,
        CASE
            WHEN (COALESCE(s.indice_satisfaccion_ciudadana, (50)::numeric) < (40)::numeric) THEN 'CICATRIZACION URGENTE'::text
            WHEN ((COALESCE(s.indice_satisfaccion_ciudadana, (50)::numeric) >= (40)::numeric) AND (COALESCE(s.indice_satisfaccion_ciudadana, (50)::numeric) <= (59)::numeric)) THEN 'REFORZAR OPERACION'::text
            ELSE 'MANTENER PRESENCIA'::text
        END AS accion_recomendada
   FROM (ganadores_2024 g
     LEFT JOIN satisfaccion s ON ((s.pk_seccion = g.pk_seccion)));


ALTER VIEW public.vw_riesgo_electoral OWNER TO postgres;

--
-- Name: vw_satisfaccion_por_servicio; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.vw_satisfaccion_por_servicio AS
 SELECT s.seccion,
    cs.nombre_categoria,
    cs.pilar_gobierno,
    round(avg(ss.calificacion), 2) AS calificacion_promedio,
    round(avg(ss.sentimiento_polaridad), 2) AS sentimiento_promedio,
    count(*) AS total_opiniones,
        CASE
            WHEN (avg(ss.calificacion) >= 4.0) THEN 'Excelente'::text
            WHEN (avg(ss.calificacion) >= 3.0) THEN 'Bueno'::text
            WHEN (avg(ss.calificacion) >= 2.0) THEN 'Regular'::text
            ELSE 'Deficiente'::text
        END AS nivel_desempeno
   FROM ((public.seccion s
     JOIN public.sentimiento_social ss ON ((ss.pk_seccion = s.pk_seccion)))
     JOIN public.categoria_servicio cs ON ((cs.id_categoria = ss.id_categoria)))
  WHERE (s.id_municipio = 56)
  GROUP BY s.seccion, cs.id_categoria, cs.nombre_categoria, cs.pilar_gobierno
  ORDER BY s.seccion, (round(avg(ss.calificacion), 2)) DESC;


ALTER VIEW public.vw_satisfaccion_por_servicio OWNER TO postgres;

--
-- Name: casilla pk_casilla; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.casilla ALTER COLUMN pk_casilla SET DEFAULT nextval('public.casilla_pk_casilla_seq'::regclass);


--
-- Name: categoria_servicio id_categoria; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categoria_servicio ALTER COLUMN id_categoria SET DEFAULT nextval('public.categoria_servicio_id_categoria_seq'::regclass);


--
-- Name: demandas_sociales pk_demanda; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.demandas_sociales ALTER COLUMN pk_demanda SET DEFAULT nextval('public.demandas_sociales_pk_demanda_seq'::regclass);


--
-- Name: denuncias_ciudadanas pk_denuncia; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.denuncias_ciudadanas ALTER COLUMN pk_denuncia SET DEFAULT nextval('public.denuncias_ciudadanas_pk_denuncia_seq'::regclass);


--
-- Name: eleccion id_eleccion; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.eleccion ALTER COLUMN id_eleccion SET DEFAULT nextval('public.eleccion_id_eleccion_seq'::regclass);


--
-- Name: evidencias pk_evidencia; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.evidencias ALTER COLUMN pk_evidencia SET DEFAULT nextval('public.evidencias_pk_evidencia_seq'::regclass);


--
-- Name: fuente_datos id_fuente; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fuente_datos ALTER COLUMN id_fuente SET DEFAULT nextval('public.fuente_datos_id_fuente_seq'::regclass);


--
-- Name: fuente_sentimiento id_fuente; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fuente_sentimiento ALTER COLUMN id_fuente SET DEFAULT nextval('public.fuente_sentimiento_id_fuente_seq'::regclass);


--
-- Name: log_inconsistencias id_inconsistencia; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.log_inconsistencias ALTER COLUMN id_inconsistencia SET DEFAULT nextval('public.log_inconsistencias_id_inconsistencia_seq'::regclass);


--
-- Name: logs_gps pk_log; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.logs_gps ALTER COLUMN pk_log SET DEFAULT nextval('public.logs_gps_pk_log_seq'::regclass);


--
-- Name: metodologia_indicador id_metodologia; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.metodologia_indicador ALTER COLUMN id_metodologia SET DEFAULT nextval('public.metodologia_indicador_id_metodologia_seq'::regclass);


--
-- Name: partido id_partido; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.partido ALTER COLUMN id_partido SET DEFAULT nextval('public.partido_id_partido_seq'::regclass);


--
-- Name: resultados_electorales pk_resultado; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.resultados_electorales ALTER COLUMN pk_resultado SET DEFAULT nextval('public.resultados_electorales_pk_resultado_seq'::regclass);


--
-- Name: resultados_partido pk_resultado_partido; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.resultados_partido ALTER COLUMN pk_resultado_partido SET DEFAULT nextval('public.resultados_partido_pk_resultado_partido_seq'::regclass);


--
-- Name: seccion pk_seccion; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.seccion ALTER COLUMN pk_seccion SET DEFAULT nextval('public.seccion_pk_seccion_seq'::regclass);


--
-- Name: sentimiento_social pk_sentimiento; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sentimiento_social ALTER COLUMN pk_sentimiento SET DEFAULT nextval('public.sentimiento_social_pk_sentimiento_seq'::regclass);


--
-- Name: simpatizantes pk_simpatizante; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.simpatizantes ALTER COLUMN pk_simpatizante SET DEFAULT nextval('public.simpatizantes_pk_simpatizante_seq'::regclass);


--
-- Data for Name: carencias_inegi; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: casilla; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: categoria_servicio; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: demandas_sociales; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.demandas_sociales (pk_demanda, pk_seccion, fecha_registro, tipo_demanda, sentimiento, prioridad_ods, calificacion_ciudadana, folio_evidencia, url_evidencia, capturado_por, latitud, longitud, fecha_compromiso_resolucion, fecha_atencion_real, estado) FROM stdin;
\.


--
-- Data for Name: denuncias_ciudadanas; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.denuncias_ciudadanas (pk_denuncia, pk_seccion, id_categoria, fecha_denuncia, canal_reporte, descripcion, estatus, fecha_resolucion, tiempo_resolucion_dias) FROM stdin;
\.


--
-- Data for Name: eleccion; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.eleccion (id_eleccion, anio, ambito, descripcion) FROM stdin;
1	2018	LOCAL	Diputaciones locales Guerrero 2018
2	2021	LOCAL	Diputaciones locales Guerrero 2021
3	2024	LOCAL	Diputaciones locales Guerrero 2024
\.


--
-- Data for Name: evidencias; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.evidencias (pk_evidencia, pk_seccion, ruta_archivo, comentario, fecha_registro) FROM stdin;
\.


--
-- Data for Name: fuente_datos; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.fuente_datos (id_fuente, nombre_fuente, institucion, periodicidad, url_oficial, fecha_corte, notas) FROM stdin;
1	Padron Electoral 2024	INE	Anual	https://www.ine.mx	\N	Corte al 31/01/2024
2	Censo de Poblacion y Vivienda 2020	INEGI	Decenal	https://www.inegi.org.mx	\N	Ajuste con proyecciones CONAPO
3	Encuesta de Satisfaccion Ciudadana	Gobierno de Taxco	Trimestral	\N	\N	Levantamiento propio
4	Denuncias Ciudadanas	Secretaria de Seguridad	Mensual	\N	\N	Sistema 911 y ventanilla unica
\.


--
-- Data for Name: fuente_sentimiento; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.fuente_sentimiento (id_fuente, nombre_fuente, descripcion, peso_confiabilidad) FROM stdin;
1	Encuesta Casa por Casa	Levantamiento directo con ciudadanos	1.00
2	Foro Ciudadano	Participacion en foros municipales	0.85
3	Redes Sociales	Facebook, Twitter/X, WhatsApp	0.60
4	Denuncias 911	Llamadas de emergencia	0.95
5	Solicitudes Plataforma Municipal	Sistema oficial de atencion ciudadana	0.90
6	Buzon Ciudadano	Quejas y sugerencias fisicas	0.80
7	Encuesta de Campo	\N	1.00
\.


--
-- Data for Name: invitaciones; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.invitaciones (token, email, tenant_id, fecha_expiracion, usada, fecha_creacion) FROM stdin;
2b692694-1bdd-44c5-b7a2-833f5cce5aeb	test@example.com	taxco	2026-02-24 13:52:58.553987	t	2026-02-17 13:52:58.553987
1fb4c889-13ec-4f57-b60a-51af1e6a0ee9	prueba@example.com	taxco	2026-02-24 14:28:32.170896	t	2026-02-17 14:28:32.170896
\.


--
-- Data for Name: log_inconsistencias; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.log_inconsistencias (id_inconsistencia, tabla_afectada, pk_registro, campo, valor_actual, valor_esperado, descripcion, seccion, anio, flag_calidad, estado, justificacion, fecha_registro, fecha_justificacion) FROM stdin;
\.


--
-- Data for Name: logs_gps; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.logs_gps (pk_log, pk_seccion, latitud, longitud, fecha_registro) FROM stdin;
1	182	17.55090158	-99.48565626	2026-02-15 21:14:20.025
2	182	17.55078608	-99.48576195	2026-02-15 13:15:05.015
3	183	17.55078608	-99.48576195	2026-02-15 13:17:49.431
4	182	17.55065478	-99.48605377	2026-02-15 13:32:21.676
\.


--
-- Data for Name: metodologia_indicador; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: municipio; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.municipio (id_municipio, nombre_municipio, poblacion_total, coef_gini_ref) FROM stdin;
56	Taxco de Alarc├â┬│n	99111	0.417
\.


--
-- Data for Name: municipio_geometria; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: padron_ine; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: partido; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: resultados_electorales; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: resultados_partido; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: seccion; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: sentimiento_social; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: simpatizantes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.simpatizantes (pk_simpatizante, pk_seccion, nombre, contacto, es_mujer, notas, fecha_registro) FROM stdin;
1	182	Vladimir	Miperfilpoliticogro@proton.me	f	fuga 	2026-02-15 21:14:20.025
2	182	Vladimir Cruz Cruz	7474795833	t	que presecepcon tien la diputada local	2026-02-15 13:15:05.015
3	183	Vladimir Cruz Cruz	Miperfilpoliticogro@proton.me	f	fuga	2026-02-15 13:17:49.431
4	182	Vladimir Cruz Cruz	Miperfilpoliticogro@proton.me	f	fuga	2026-02-15 13:32:21.676
\.


--
-- Data for Name: spatial_ref_sys; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.spatial_ref_sys (srid, auth_name, auth_srid, srtext, proj4text) FROM stdin;
\.


--
-- Data for Name: usuarios_tenant; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.usuarios_tenant (email, tenant_id, fecha_expiracion, rol) FROM stdin;
test@example.com	taxco	2026-02-24 13:52:58.553987	lectura
prueba@example.com	taxco	2026-02-24 14:28:32.170896	lectura
\.


--
-- Name: casilla_pk_casilla_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.casilla_pk_casilla_seq', 556, true);


--
-- Name: categoria_servicio_id_categoria_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.categoria_servicio_id_categoria_seq', 15, true);


--
-- Name: demandas_sociales_pk_demanda_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.demandas_sociales_pk_demanda_seq', 1, false);


--
-- Name: denuncias_ciudadanas_pk_denuncia_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.denuncias_ciudadanas_pk_denuncia_seq', 1, false);


--
-- Name: eleccion_id_eleccion_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.eleccion_id_eleccion_seq', 4, true);


--
-- Name: evidencias_pk_evidencia_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.evidencias_pk_evidencia_seq', 1, false);


--
-- Name: fuente_datos_id_fuente_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.fuente_datos_id_fuente_seq', 4, true);


--
-- Name: fuente_sentimiento_id_fuente_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.fuente_sentimiento_id_fuente_seq', 7, true);


--
-- Name: log_inconsistencias_id_inconsistencia_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.log_inconsistencias_id_inconsistencia_seq', 1, false);


--
-- Name: logs_gps_pk_log_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.logs_gps_pk_log_seq', 4, true);


--
-- Name: metodologia_indicador_id_metodologia_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.metodologia_indicador_id_metodologia_seq', 3, true);


--
-- Name: partido_id_partido_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.partido_id_partido_seq', 85, true);


--
-- Name: resultados_electorales_pk_resultado_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.resultados_electorales_pk_resultado_seq', 470, true);


--
-- Name: resultados_partido_pk_resultado_partido_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.resultados_partido_pk_resultado_partido_seq', 3491, true);


--
-- Name: seccion_pk_seccion_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.seccion_pk_seccion_seq', 270, true);


--
-- Name: sentimiento_social_pk_sentimiento_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.sentimiento_social_pk_sentimiento_seq', 80, true);


--
-- Name: simpatizantes_pk_simpatizante_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.simpatizantes_pk_simpatizante_seq', 4, true);


--
-- Name: carencias_inegi carencias_inegi_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.carencias_inegi
    ADD CONSTRAINT carencias_inegi_pkey PRIMARY KEY (pk_seccion, anio_inegi);


--
-- Name: casilla casilla_pk_seccion_id_eleccion_clave_casilla_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.casilla
    ADD CONSTRAINT casilla_pk_seccion_id_eleccion_clave_casilla_key UNIQUE (pk_seccion, id_eleccion, clave_casilla);


--
-- Name: casilla casilla_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.casilla
    ADD CONSTRAINT casilla_pkey PRIMARY KEY (pk_casilla);


--
-- Name: categoria_servicio categoria_servicio_nombre_categoria_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categoria_servicio
    ADD CONSTRAINT categoria_servicio_nombre_categoria_key UNIQUE (nombre_categoria);


--
-- Name: categoria_servicio categoria_servicio_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categoria_servicio
    ADD CONSTRAINT categoria_servicio_pkey PRIMARY KEY (id_categoria);


--
-- Name: demandas_sociales demandas_sociales_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.demandas_sociales
    ADD CONSTRAINT demandas_sociales_pkey PRIMARY KEY (pk_demanda);


--
-- Name: denuncias_ciudadanas denuncias_ciudadanas_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.denuncias_ciudadanas
    ADD CONSTRAINT denuncias_ciudadanas_pkey PRIMARY KEY (pk_denuncia);


--
-- Name: eleccion eleccion_anio_ambito_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.eleccion
    ADD CONSTRAINT eleccion_anio_ambito_key UNIQUE (anio, ambito);


--
-- Name: eleccion eleccion_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.eleccion
    ADD CONSTRAINT eleccion_pkey PRIMARY KEY (id_eleccion);


--
-- Name: evidencias evidencias_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.evidencias
    ADD CONSTRAINT evidencias_pkey PRIMARY KEY (pk_evidencia);


--
-- Name: fuente_datos fuente_datos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fuente_datos
    ADD CONSTRAINT fuente_datos_pkey PRIMARY KEY (id_fuente);


--
-- Name: fuente_sentimiento fuente_sentimiento_nombre_fuente_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fuente_sentimiento
    ADD CONSTRAINT fuente_sentimiento_nombre_fuente_key UNIQUE (nombre_fuente);


--
-- Name: fuente_sentimiento fuente_sentimiento_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fuente_sentimiento
    ADD CONSTRAINT fuente_sentimiento_pkey PRIMARY KEY (id_fuente);


--
-- Name: invitaciones invitaciones_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.invitaciones
    ADD CONSTRAINT invitaciones_pkey PRIMARY KEY (token);


--
-- Name: log_inconsistencias log_inconsistencias_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.log_inconsistencias
    ADD CONSTRAINT log_inconsistencias_pkey PRIMARY KEY (id_inconsistencia);


--
-- Name: logs_gps logs_gps_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.logs_gps
    ADD CONSTRAINT logs_gps_pkey PRIMARY KEY (pk_log);


--
-- Name: metodologia_indicador metodologia_indicador_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.metodologia_indicador
    ADD CONSTRAINT metodologia_indicador_pkey PRIMARY KEY (id_metodologia);


--
-- Name: municipio_geometria municipio_geometria_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.municipio_geometria
    ADD CONSTRAINT municipio_geometria_pkey PRIMARY KEY (id_municipio);


--
-- Name: municipio municipio_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.municipio
    ADD CONSTRAINT municipio_pkey PRIMARY KEY (id_municipio);


--
-- Name: padron_ine padron_ine_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.padron_ine
    ADD CONSTRAINT padron_ine_pkey PRIMARY KEY (pk_seccion, anio_padron);


--
-- Name: partido partido_clave_partido_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.partido
    ADD CONSTRAINT partido_clave_partido_key UNIQUE (clave_partido);


--
-- Name: partido partido_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.partido
    ADD CONSTRAINT partido_pkey PRIMARY KEY (id_partido);


--
-- Name: resultados_electorales resultados_electorales_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.resultados_electorales
    ADD CONSTRAINT resultados_electorales_pkey PRIMARY KEY (pk_resultado);


--
-- Name: resultados_partido resultados_partido_pk_resultado_id_partido_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.resultados_partido
    ADD CONSTRAINT resultados_partido_pk_resultado_id_partido_key UNIQUE (pk_resultado, id_partido);


--
-- Name: resultados_partido resultados_partido_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.resultados_partido
    ADD CONSTRAINT resultados_partido_pkey PRIMARY KEY (pk_resultado_partido);


--
-- Name: seccion seccion_id_municipio_seccion_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.seccion
    ADD CONSTRAINT seccion_id_municipio_seccion_key UNIQUE (id_municipio, seccion);


--
-- Name: seccion seccion_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.seccion
    ADD CONSTRAINT seccion_pkey PRIMARY KEY (pk_seccion);


--
-- Name: sentimiento_social sentimiento_social_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sentimiento_social
    ADD CONSTRAINT sentimiento_social_pkey PRIMARY KEY (pk_sentimiento);


--
-- Name: simpatizantes simpatizantes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.simpatizantes
    ADD CONSTRAINT simpatizantes_pkey PRIMARY KEY (pk_simpatizante);


--
-- Name: usuarios_tenant usuarios_tenant_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios_tenant
    ADD CONSTRAINT usuarios_tenant_pkey PRIMARY KEY (email);


--
-- Name: idx_carencias_anio; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_carencias_anio ON public.carencias_inegi USING btree (anio_inegi);


--
-- Name: idx_casilla_eleccion; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_casilla_eleccion ON public.casilla USING btree (id_eleccion);


--
-- Name: idx_casilla_seccion; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_casilla_seccion ON public.casilla USING btree (pk_seccion);


--
-- Name: idx_demandas_estado; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_demandas_estado ON public.demandas_sociales USING btree (estado);


--
-- Name: idx_demandas_seccion; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_demandas_seccion ON public.demandas_sociales USING btree (pk_seccion);


--
-- Name: idx_denuncias_estatus; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_denuncias_estatus ON public.denuncias_ciudadanas USING btree (estatus);


--
-- Name: idx_denuncias_seccion; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_denuncias_seccion ON public.denuncias_ciudadanas USING btree (pk_seccion);


--
-- Name: idx_padron_anio; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_padron_anio ON public.padron_ine USING btree (anio_padron);


--
-- Name: idx_resultado_calidad; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_resultado_calidad ON public.resultados_electorales USING btree (flag_calidad);


--
-- Name: idx_resultado_casilla; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_resultado_casilla ON public.resultados_electorales USING btree (pk_casilla);


--
-- Name: idx_resultado_partido_partido; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_resultado_partido_partido ON public.resultados_partido USING btree (id_partido);


--
-- Name: idx_resultado_partido_resultado; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_resultado_partido_resultado ON public.resultados_partido USING btree (pk_resultado);


--
-- Name: idx_seccion_geom; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_seccion_geom ON public.seccion USING gist (geom);


--
-- Name: idx_seccion_numero; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_seccion_numero ON public.seccion USING btree (seccion);


--
-- Name: idx_sentimiento_categoria; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_sentimiento_categoria ON public.sentimiento_social USING btree (id_categoria);


--
-- Name: idx_sentimiento_fecha; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_sentimiento_fecha ON public.sentimiento_social USING btree (fecha_registro DESC);


--
-- Name: idx_sentimiento_fuente; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_sentimiento_fuente ON public.sentimiento_social USING btree (id_fuente);


--
-- Name: idx_sentimiento_seccion; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_sentimiento_seccion ON public.sentimiento_social USING btree (pk_seccion);


--
-- Name: resultados_electorales trg_check_integridad; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_check_integridad AFTER INSERT OR UPDATE ON public.resultados_electorales FOR EACH ROW EXECUTE FUNCTION public.fn_log_inconsistencias();


--
-- Name: carencias_inegi carencias_inegi_pk_seccion_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.carencias_inegi
    ADD CONSTRAINT carencias_inegi_pk_seccion_fkey FOREIGN KEY (pk_seccion) REFERENCES public.seccion(pk_seccion);


--
-- Name: casilla casilla_id_eleccion_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.casilla
    ADD CONSTRAINT casilla_id_eleccion_fkey FOREIGN KEY (id_eleccion) REFERENCES public.eleccion(id_eleccion);


--
-- Name: casilla casilla_pk_seccion_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.casilla
    ADD CONSTRAINT casilla_pk_seccion_fkey FOREIGN KEY (pk_seccion) REFERENCES public.seccion(pk_seccion);


--
-- Name: demandas_sociales demandas_sociales_pk_seccion_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.demandas_sociales
    ADD CONSTRAINT demandas_sociales_pk_seccion_fkey FOREIGN KEY (pk_seccion) REFERENCES public.seccion(pk_seccion);


--
-- Name: denuncias_ciudadanas denuncias_ciudadanas_id_categoria_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.denuncias_ciudadanas
    ADD CONSTRAINT denuncias_ciudadanas_id_categoria_fkey FOREIGN KEY (id_categoria) REFERENCES public.categoria_servicio(id_categoria);


--
-- Name: denuncias_ciudadanas denuncias_ciudadanas_pk_seccion_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.denuncias_ciudadanas
    ADD CONSTRAINT denuncias_ciudadanas_pk_seccion_fkey FOREIGN KEY (pk_seccion) REFERENCES public.seccion(pk_seccion);


--
-- Name: evidencias evidencias_pk_seccion_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.evidencias
    ADD CONSTRAINT evidencias_pk_seccion_fkey FOREIGN KEY (pk_seccion) REFERENCES public.seccion(pk_seccion) ON DELETE CASCADE;


--
-- Name: logs_gps logs_gps_pk_seccion_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.logs_gps
    ADD CONSTRAINT logs_gps_pk_seccion_fkey FOREIGN KEY (pk_seccion) REFERENCES public.seccion(pk_seccion) ON DELETE CASCADE;


--
-- Name: municipio_geometria municipio_geometria_id_municipio_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.municipio_geometria
    ADD CONSTRAINT municipio_geometria_id_municipio_fkey FOREIGN KEY (id_municipio) REFERENCES public.municipio(id_municipio);


--
-- Name: padron_ine padron_ine_pk_seccion_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.padron_ine
    ADD CONSTRAINT padron_ine_pk_seccion_fkey FOREIGN KEY (pk_seccion) REFERENCES public.seccion(pk_seccion);


--
-- Name: resultados_electorales resultados_electorales_pk_casilla_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.resultados_electorales
    ADD CONSTRAINT resultados_electorales_pk_casilla_fkey FOREIGN KEY (pk_casilla) REFERENCES public.casilla(pk_casilla) ON DELETE CASCADE;


--
-- Name: resultados_partido resultados_partido_id_partido_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.resultados_partido
    ADD CONSTRAINT resultados_partido_id_partido_fkey FOREIGN KEY (id_partido) REFERENCES public.partido(id_partido);


--
-- Name: resultados_partido resultados_partido_pk_resultado_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.resultados_partido
    ADD CONSTRAINT resultados_partido_pk_resultado_fkey FOREIGN KEY (pk_resultado) REFERENCES public.resultados_electorales(pk_resultado) ON DELETE CASCADE;


--
-- Name: seccion seccion_id_municipio_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.seccion
    ADD CONSTRAINT seccion_id_municipio_fkey FOREIGN KEY (id_municipio) REFERENCES public.municipio(id_municipio);


--
-- Name: sentimiento_social sentimiento_social_id_categoria_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sentimiento_social
    ADD CONSTRAINT sentimiento_social_id_categoria_fkey FOREIGN KEY (id_categoria) REFERENCES public.categoria_servicio(id_categoria);


--
-- Name: sentimiento_social sentimiento_social_id_fuente_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sentimiento_social
    ADD CONSTRAINT sentimiento_social_id_fuente_fkey FOREIGN KEY (id_fuente) REFERENCES public.fuente_sentimiento(id_fuente);


--
-- Name: sentimiento_social sentimiento_social_pk_seccion_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sentimiento_social
    ADD CONSTRAINT sentimiento_social_pk_seccion_fkey FOREIGN KEY (pk_seccion) REFERENCES public.seccion(pk_seccion) ON DELETE CASCADE;


--
-- Name: simpatizantes simpatizantes_pk_seccion_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.simpatizantes
    ADD CONSTRAINT simpatizantes_pk_seccion_fkey FOREIGN KEY (pk_seccion) REFERENCES public.seccion(pk_seccion) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict BKaW7XHmTeh0lEcka5Ay63gOrCD9A8AyS8it4Qtbf9lG0gZlSglEeEVaZz0yoSM

